<v-card
        class="mx-auto"
        max-width="40%"
        tile
>
    <v-list-item>
        <v-list-item-content>
            <v-row no-gutters>
                <v-col
                        cols="6"
                >
                    <v-list-item-title
                            class="pa-2 text-h6"
                    >
                        {{ listHeader }}
                    </v-list-item-title>
                </v-col>
                <v-col
                        cols="6"
                >
                </v-col>
            </v-row>

        </v-list-item-content>
    </v-list-item>

    <v-list-item
            v-for="event in events"
            link
            three-line
    >
        <v-list-item-content>
            <v-list-item-title>{{ event.name }}</v-list-item-title>
            <v-list-item-subtitle>
                {{ event.date }}
            </v-list-item-subtitle>
            <v-list-item-subtitle>
                {{ event.type }}
            </v-list-item-subtitle>
            <v-btn @click="$router.replace('/events/show/' + event.id)">Show event</v-btn>
            <v-btn @click="$emit('delete-event', event.id)">Delete</v-btn>
        </v-list-item-content>
    </v-list-item>
</v-card>
