<v-container
        style="max-width: 60%"
>
    <v-row>
        <v-col
                cols="9"
        >
            <div class="text-h4 my-3 text-center">{{ title }}</div>
        </v-col>
        <v-col
                cols="3"
        >
            <v-btn
                    v-if="mode === 'show'"
                    class="my-3"
                    color="accent"
                    @click="mode = 'edit'"
            >Edit
            </v-btn>
            <v-btn
                    v-else-if="mode === 'edit'"
                    class="my-3"
                    color="warning"
                    @click="mode = 'show'"
            >Cancel editing
            </v-btn>
        </v-col>
    </v-row>

    <v-form>
        <app-text-field
                :in-value="eventName"
                :disabled="mode === 'show'"
                :name="labels.name"
                class="mt-2"
                @change="eventModel.name = $event"
        ></app-text-field>

        <app-text-field
                :in-value="eventType"
                :disabled="mode === 'show'"
                :name="labels.type"
                class="mt-2"
                @change="eventModel.type = $event"
        ></app-text-field>

        <v-date-picker
                v-model="dateModel"
                :readonly="mode === 'show'"
        ></v-date-picker>

        <v-textarea
                v-model="eventModel.description"
                :readonly="mode === 'show'"
                outlined
                :label="labels.description"
        ></v-textarea>

        <v-btn
                v-if="mode !== 'show'"
                color="accent"
                @click="submitChanges"
        >Submit changes
        </v-btn>
    </v-form>
</v-container>


